<app-sidebar></app-sidebar>

<div>
  <div class="chat-container">
    <h2 class="chat-title mb16">{{ getChatName() }}</h2>
    
    <div class="messages" #scrollContainer (scroll)="onScroll()">
      <div *ngIf="isLoading" class="loading-indicator">Загрузка...</div>
      <div 
        *ngFor="let msg of pagedMessages?.data" 
        class="message"
        [class.my-message]="isMyMessage(msg)"
      >
        <span>{{ msg.content }}</span>
        <span class="time">{{msg.createdDate| date:'shortTime'}}</span>
      </div>
    </div>
    
    <span class="input">
      <input autocomplete="off" class="input-text" [(ngModel)]="message" placeholder="Type a message" />
      <button class="send-msg-btn" (click)="sendMessage(selectedChatId!,message)">
        <img 
          class="send-msg-img" 
          src="../assets/svgs/group.svg" 
          alt="">
      </button>
    </span>
  </div>
</div>
