.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.mt2 {
    margin-top: 2px;
}

.mb26 {
    margin-bottom: 26px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb6 {
    margin-bottom: 6px;
}

.mt6 {
    margin-top: 6px;
}