@import "margins";
@import "fonts";

:root{
    --backGr-color: #292F3F;
    --grey-color: #42566C;
    --greyMessage-color: #373E4E;
    --darkMessage-color: #272A35;
    --sendMessageButton-color: #C4C4C4;
    --light-color: #FFFFFF;
    --dark-color: #1f232f;
    --inputBorder-color: #818182;
    --scrollbarDarkGrey-color: #2c2f33;
    --scrollbarBlue-color: #7289da;
    --scrollbarDarkBlue-color: #5b6eae;
    --sidebarGrey-color: #394057;
    --lightBlue-color: #7f98eb;
}

*,
*after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--backGr-color);
    color: var(--light-color);
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbarDarkGrey-color); 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbarBlue-color);
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarDarkBlue-color);
  }
