.chat-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: none;
    gap: 12px;

  
    &:hover {
      background-color: #2d3245;
    }
  
    .chat-avatar {
      .avatar-placeholder {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #673ab7;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  
    .chat-info {
      flex: 1;
      min-width: 0;
  
      .chat-name {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .chat-type {
        margin: 2px 0 0;
        font-size: 12px;
        color: var(--light-color);
      }
    }
  }